@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.containerCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 20px #6610f2;
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: auto;
  height: 300px;
  object-fit: cover;
}
.card-header{
    text-align: center;
    background-color: #fff;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 25px;
}
.card-body p{
  font-size: 16px !important;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0 0 0.5rem 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.usuario {
  display: flex;
  margin-top: auto;
}

.usuario .logo {
  text-align: center;
  margin-right: 10px;
  color: #6610f2;
}
.user-info h5 {
  margin-top: 1rem;
}
.user-info small {
  color: #545d7a;
}

.icons{
  margin-left: 11rem;
  position: absolute;
}
.icon-cart{
  font-size: 1.5rem;
  margin-left: 0.5rem;
  background-color: #965cf3;
  padding: 0.5rem;
  border-radius: 50%;
  color: #190040;
  transition: 0.3s;
}
.icon-cart:hover{
  transition: 0.3s;
  color: #965cf3;
  background-color: #190040;
}

.icon-eye{
  font-size: 1.5rem;
  background-color: #965cf3;
  padding: 0.5rem;
  border-radius: 50%;
  color: #190040;
  transition: 0.3s;
}
.icon-eye:hover{
  transition: 0.3s;
  color: #965cf3;
  background-color: #190040;
}