*{
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    background: rgb(34,11,62);
    background: radial-gradient(circle, rgba(34,11,62,1) 0%, rgba(0,0,0,1) 100%);
}

/*----------------------------------------LOGO----------------------------------------------*/
.logo,
.logo::before {
 display: block;
 box-sizing: border-box;
 width: 42px
}

.logo {
 border: 12px solid;
 transform: scale(var(--ggs,1));
 border-bottom-left-radius: 100px;
 border-bottom-right-radius: 100px;
 border-top: 0;
 position: relative;
 height: 36px;
 margin-top: 1rem;
}

.logo::before {
 content: "";
 position: absolute;
 height: 9px;
 border-left: 12px solid;
 border-right: 12px solid;
 top: -15px;
 left: -12px;
 opacity: .5
} 

.margen{
    display: flex;
    justify-content: center;
}
